In [24]:
import pandas as pd
#import orchest

In [25]:
#Dados do IBGE-PAM (Produção Agrícola Municipal)

In [26]:
#import wget
#url = f"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela5457.csv&terr=NC&rank=-&query=t/5457/n3/15/n6/1504208,1508100,1502772,1505536,1502152,1500347,1502954/v/214,216,8331/p/last%2010/c782/40092,40102,40107,40112,40119,40120,40122,40126,40136,40138,40139,40151,40152,40261,40262,40263,40269,40271,45982/l/,,t%2Bv%2Bp%2Bc782"
#file_name = wget.download(url, 'data.csv')

In [1]:
import pandas as pd
url = f"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela5457.csv&terr=NC&rank=-&query=t/5457/n3/15/n6/1504208,1508100,1502772,1505536,1502152,1500347,1502954/v/214,216,8331/p/last%2010/c782/40092,40102,40107,40112,40119,40120,40122,40126,40136,40138,40139,40151,40152,40261,40262,40263,40269,40271,45982/l/,,t%2Bv%2Bp%2Bc782"
path = 'data.csv'
data = pd.read_csv(url, delimiter=";",skiprows=[0,1],\
                 names=["Cod", "Unidade da Federacao e Municipio", "Variavel", "Ano", "Produto das lavouras temporarias e permanentes", "Total"])

In [2]:
data

,Cod,Unidade da Federacao e Municipio,Variavel,Ano,Produto das lavouras temporarias e permanentes,Total
0,Cód.,Unidade da Federação e Município,Variável,Ano,Produto das lavouras temporárias e permanentes,NaN
1,15,Pará,Área plantada ou destinada à colheita (Hectares),2011,Abacaxi*,8968
2,15,Pará,Área plantada ou destinada à colheita (Hectares),2011,Açaí,...
3,15,Pará,Área plantada ou destinada à colheita (Hectares),2011,Arroz (em casca),102847
4,15,Pará,Área plantada ou destinada à colheita (Hectares),2011,Banana (cacho),40710
...,...,...,...,...,...,...
4578,0,Zero resultante de um cálculo ou arredondament...,NaN,NaN,NaN,NaN
4579,X,Valor inibido para não identificar o informant...,NaN,NaN,NaN,NaN
4580,..,Valor não se aplica.\nEx: Não se pode obter o ...,NaN,NaN,NaN,NaN
4581,...,Valor não disponível.\nEx: A produção de feijã...,NaN,NaN,NaN,NaN
4582,A a Z\n(exceto X),Significa uma faixa de valores. Varia em funçã...,NaN,NaN,NaN,NaN

In [30]:
end = data[data['Cod'] == 'Fonte: IBGE - Produção Agrícola Municipal'].index[0]

In [31]:
df = data.iloc[1:end]

In [6]:
def replace_dataframe(DataFrame_imput, column, replace):
    for r in replace:
        for c in column:
            DataFrame_imput[c] = DataFrame_imput[c].apply(lambda x : x.replace(r,'').replace('-',' '))     
    return DataFrame_imput

In [32]:
filtro = ['*',' (cacho)', ' (em amêndoa)', ' (em grão)', ' (em casca)', ' (Hectares)', ' (Toneladas)', ' (PA)']
column = ["Cod", "Unidade da Federacao e Municipio", "Variavel", "Ano", "Produto das lavouras temporarias e permanentes", "Total"]
df = replace_dataframe(df, column, filtro)

C:\Users\Anselmo Oliveira\AppData\Local\Temp\ipykernel_6580\630857280.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame_imput[c] = DataFrame_imput[c].apply(lambda x : x.replace(r,'').replace('-',' '))

In [33]:
df

,Cod,Unidade da Federacao e Municipio,Variavel,Ano,Produto das lavouras temporarias e permanentes,Total
1,15,Pará,Área plantada ou destinada à colheita,2011,Abacaxi,8968
2,15,Pará,Área plantada ou destinada à colheita,2011,Açaí,...
3,15,Pará,Área plantada ou destinada à colheita,2011,Arroz,102847
4,15,Pará,Área plantada ou destinada à colheita,2011,Banana,40710
5,15,Pará,Área plantada ou destinada à colheita,2011,Cacau,85041
...,...,...,...,...,...,...
4556,1508100,Tucuruí,Quantidade produzida,2020,Melancia,
4557,1508100,Tucuruí,Quantidade produzida,2020,Milho,
4558,1508100,Tucuruí,Quantidade produzida,2020,Pimenta do reino,21
4559,1508100,Tucuruí,Quantidade produzida,2020,Tangerina,
4560,1508100,Tucuruí,Quantidade produzida,2020,Tomate,

In [34]:
df['Cod'].value_counts()

15         570
1500347    570
1502152    570
1502772    570
1502954    570
1504208    570
1505536    570
1508100    570
Name: Cod, dtype: int64

In [35]:
df['Unidade da Federacao e Municipio'].value_counts()

Pará                   570
Água Azul do Norte     570
Canaã dos Carajás      570
Curionópolis           570
Eldorado do Carajás    570
Marabá                 570
Parauapebas            570
Tucuruí                570
Name: Unidade da Federacao e Municipio, dtype: int64

In [36]:
df['Variavel'].value_counts()

Área plantada ou destinada à colheita    1520
Área colhida                             1520
Quantidade produzida                     1520
Name: Variavel, dtype: int64

In [37]:
df['Ano'].value_counts()

2011    456
2012    456
2013    456
2014    456
2015    456
2016    456
2017    456
2018    456
2019    456
2020    456
Name: Ano, dtype: int64

In [39]:
df['Produto das lavouras temporarias e permanentes'].value_counts()

Abacaxi             240
Mamão               240
Tangerina           240
Pimenta do reino    240
Milho               240
Melancia            240
Maracujá            240
Manga               240
Mandioca            240
Limão               240
Açaí                240
Laranja             240
Feijão              240
Cebola              240
Café Total          240
Cacau               240
Banana              240
Arroz               240
Tomate              240
Name: Produto das lavouras temporarias e permanentes, dtype: int64

In [40]:
df['Total'].value_counts()

          2103
...         96
20          88
30          62
50          60
          ...
17304        1
60662        1
304268       1
20584        1
27880        1
Name: Total, Length: 679, dtype: int64