In [2]:
!pip install pandas
!pip install numpy

import requests
import pandas as pd
import orchest

In [90]:
#import wget
#url = f"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela5457.csv&terr=NC&rank=-&query=t/5457/n3/15/n6/1504208,1508100,1502772,1505536,1502152,1500347,1502954/v/214,216,8331/p/last%2010/c782/40092,40102,40107,40112,40119,40120,40122,40126,40136,40138,40139,40151,40152,40261,40262,40263,40269,40271,45982/l/,,t%2Bv%2Bp%2Bc782"
#file_name = wget.download(url, 'data.csv')

In [4]:
import pandas as pd
import numpy as np
url = f"https://sidra.ibge.gov.br/geratabela?format=br.csv&name=tabela3939.csv&terr=NC&rank=-&query=t/3939/n3/15/n6/1504208,1508100,1502772,1505536,1502152,1500347,1502954/v/all/p/last%2010/c79/2670,2675,2681,32794,32796/l/,,t%2Bv%2Bc79%2Bp"
path = 'data.csv'
data = pd.read_csv(url, delimiter=";",skiprows=[0,1],\
                 names=["Cod", "Unidade da Federacao e Municipio", "Variavel", "Tipo de rebanho", "Ano", "Total"], dtype={'Ano':'Int64'})

In [5]:
end = data[data['Cod'] == 'Fonte: IBGE - Pesquisa da Pecuária Municipal'].index[0]

In [93]:
df = data.iloc[:end]
df['Ano'] = df['Ano'].astype(int)

C:\Users\Anselmo Oliveira\AppData\Local\Temp\ipykernel_1716\328774170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Ano'] = df['Ano'].astype(int)

In [94]:
df

,Cod,Unidade da Federacao e Municipio,Variavel,Tipo de rebanho,Ano,Total
0,15,Pará,Efetivo dos rebanhos (Cabeças),Bovino,2011,18262547
1,15,Pará,Efetivo dos rebanhos (Cabeças),Bovino,2012,18605051
2,15,Pará,Efetivo dos rebanhos (Cabeças),Bovino,2013,19165028
3,15,Pará,Efetivo dos rebanhos (Cabeças),Bovino,2014,19911217
4,15,Pará,Efetivo dos rebanhos (Cabeças),Bovino,2015,20271618
...,...,...,...,...,...,...
395,1508100,Tucuruí (PA),Efetivo dos rebanhos (Cabeças),Galináceos - total,2016,23000
396,1508100,Tucuruí (PA),Efetivo dos rebanhos (Cabeças),Galináceos - total,2017,25000
397,1508100,Tucuruí (PA),Efetivo dos rebanhos (Cabeças),Galináceos - total,2018,22000
398,1508100,Tucuruí (PA),Efetivo dos rebanhos (Cabeças),Galináceos - total,2019,11902
399,1508100,Tucuruí (PA),Efetivo dos rebanhos (Cabeças),Galináceos - total,2020,10415

In [95]:
def replace_dataframe(DataFrame_imput, column, replace):
    for r in replace:
        for c in column:
            DataFrame_imput[c] = DataFrame_imput[c].apply(lambda x : str(x).replace(r,'').replace('-',' '))     
    return DataFrame_imput

In [96]:
filtro = ['*',' (Cabeças)', ' (PA)', ' - total', '   total']
column = ["Cod", "Unidade da Federacao e Municipio", "Variavel", "Tipo de rebanho", "Ano", "Total"]
df = replace_dataframe(df, column, filtro)

C:\Users\Anselmo Oliveira\AppData\Local\Temp\ipykernel_1716\1519733028.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame_imput[c] = DataFrame_imput[c].apply(lambda x : str(x).replace(r,'').replace('-',' '))

In [97]:
df

,Cod,Unidade da Federacao e Municipio,Variavel,Tipo de rebanho,Ano,Total
0,15,Pará,Efetivo dos rebanhos,Bovino,2011,18262547
1,15,Pará,Efetivo dos rebanhos,Bovino,2012,18605051
2,15,Pará,Efetivo dos rebanhos,Bovino,2013,19165028
3,15,Pará,Efetivo dos rebanhos,Bovino,2014,19911217
4,15,Pará,Efetivo dos rebanhos,Bovino,2015,20271618
...,...,...,...,...,...,...
395,1508100,Tucuruí,Efetivo dos rebanhos,Galináceos,2016,23000
396,1508100,Tucuruí,Efetivo dos rebanhos,Galináceos,2017,25000
397,1508100,Tucuruí,Efetivo dos rebanhos,Galináceos,2018,22000
398,1508100,Tucuruí,Efetivo dos rebanhos,Galináceos,2019,11902
399,1508100,Tucuruí,Efetivo dos rebanhos,Galináceos,2020,10415

In [98]:
df['Cod'].value_counts()

15         50
1500347    50
1502152    50
1502772    50
1502954    50
1504208    50
1505536    50
1508100    50
Name: Cod, dtype: int64

In [99]:
df['Unidade da Federacao e Municipio'].value_counts()

Pará                   50
Água Azul do Norte     50
Canaã dos Carajás      50
Curionópolis           50
Eldorado do Carajás    50
Marabá                 50
Parauapebas            50
Tucuruí                50
Name: Unidade da Federacao e Municipio, dtype: int64

In [100]:
df['Variavel'].value_counts()

Efetivo dos rebanhos    400
Name: Variavel, dtype: int64

In [101]:
df['Ano'].value_counts()

2011    40
2012    40
2013    40
2014    40
2015    40
2016    40
2017    40
2018    40
2019    40
2020    40
Name: Ano, dtype: int64

In [102]:
df['Tipo de rebanho'].value_counts()

Bovino        80
Bubalino      80
Suíno         80
Caprino       80
Galináceos    80
Name: Tipo de rebanho, dtype: int64

In [103]:
df['Total'].value_counts()

30       5
         4
1100     3
70       3
40       2
        ..
1323     1
2150     1
4180     1
41       1
10415    1
Name: Total, Length: 368, dtype: int64

In [ ]:
orchest.output(df,"df")