In [2]:
import pandas as pd
import os

In [8]:
path = str(os.path.abspath(os.getcwd())) + '\\IMP_1997_2022_20220615.xlsx'
df = pd.read_excel(path, sheet_name='Resultado')#, delimiter=";",skiprows=[0,1],\
                 #names=["Cod", "Unidade da Federacao e Municipio", "Variavel", "Ano", "Produto das lavouras temporarias e permanentes", "Total"])

In [9]:
df

      Ano  Mês  Valor FOB (US$)
0    2022    5      24707213157
1    2022    4      20748022617
2    2022    3      21807541152
3    2022    2      18872891343
4    2022    1      19815971133
..    ...  ...              ...
300  1997    5       4789335402
301  1997    4       5590104948
302  1997    3       4788930369
303  1997    2       4318802691
304  1997    1       2588659779

[305 rows x 3 columns]