In [24]:
!pip install pandas

import requests
import pandas as pd
import orchest

url = r'http://api.comexstat.mdic.gov.br/cities?filter=%7B%22yearStart%22:%221997%22,%22yearEnd%22:%222022%22,%22typeForm%22:1,%22typeOrder%22:1,%22filterList%22:%5B%7B%22id%22:%22noMunMin%22,%22text%22:%22Munic%C3%ADpio%22,%22route%22:%22/pt/location/cities%22,%22type%22:%221%22,%22group%22:%22gerais%22,%22groupText%22:%22Gerais%22,%22hint%22:%22fieldsForm.city.noMunMin.description%22,%22placeholder%22:%22Munic%C3%ADpios%22%7D%5D,%22filterArray%22:%5B%7B%22item%22:%5B%221505536%22%5D,%22idInput%22:%22noMunMin%22%7D%5D,%22rangeFilter%22:%5B%5D,%22detailDatabase%22:%5B%7B%22id%22:%22noMunMin%22,%22text%22:%22Munic%C3%ADpio%22,%22concat%22:%22noMunMinsgUf%22%7D%5D,%22monthDetail%22:true,%22metricFOB%22:true,%22metricKG%22:false,%22monthStart%22:%2201%22,%22monthEnd%22:%2212%22,%22formQueue%22:%22city%22,%22langDefault%22:%22pt%22,%22monthStartName%22:%22Janeiro%22,%22monthEndName%22:%22Dezembro%22%7D'

Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/conda/lib/python3.9/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [25]:
res = requests.get(url)
json = res.json()

In [26]:
exportacao = pd.DataFrame(json['data']['list'])

In [18]:
exportacao = exportacao.rename(columns={'coAno':'Ano', 'coAno':'Mês', 'noMunMinsgUf':'Município', 'vlFob':'Valor FOB (US$)'})

exportacao['Município'] = exportacao['Município'].apply(lambda x : str(x).replace(' - PA',''))

In [23]:
#exportacao['Ano'] = exportacao['Ano'].astype(int64)

In [12]:
exportacao.head()

    Ano Mês    Município Valor FOB (US$)
0  2022  03  Parauapebas       609933760
1  2022  04  Parauapebas       589055150
2  2022  01  Parauapebas       512683657
3  2022  02  Parauapebas       510647191
4  2022  05  Parauapebas       496805798

In [13]:
exportacao.dtypes

Ano                object
Mês                object
Município          object
Valor FOB (US$)    object
dtype: object

In [6]:
orchest.output(exportacao,"exportacao")