In [62]:
import pandas as pd
import os

In [63]:
path = str(os.path.abspath(os.getcwd())) + '\\EXP_1997_2022_20220615.xlsx'
df = pd.read_excel(path, sheet_name='Resultado')#, delimiter=";",skiprows=[0,1],\
                 #names=["Cod", "Unidade da Federacao e Municipio", "Variavel", "Ano", "Produto das lavouras temporarias e permanentes", "Total"])

In [64]:
df

      Ano  Mês  Valor FOB (US$)
0    2022    5      29647672536
1    2022    4      28978948663
2    2022    3      29453000766
3    2022    2      23513543324
4    2022    1      19790797149
..    ...  ...              ...
300  1997    5       4654892460
301  1997    4       4624157101
302  1997    3       3824075802
303  1997    2       3142779857
304  1997    1       3680971118

[305 rows x 3 columns]