In [1]:
import requests

In [2]:
url = r'https://sidra.ibge.gov.br/geratabela/DownloadSelecaoComplexa/-934357588'

In [12]:
import pandas as pd
import numpy as np
data = pd.read_excel(url, skiprows=[0,1,2,3])

In [13]:
data.head()

,Unnamed: 0,Total,Leite (Mil litros),Ovos de galinha (Mil dúzias),Ovos de codorna (Mil dúzias),Mel de abelha (Quilogramas),Casulos do bicho-da-seda (Quilogramas),Lã (Quilogramas),Total.1,Leite (Mil litros).1,...,Mel de abelha (Quilogramas).3,Casulos do bicho-da-seda (Quilogramas).3,Lã (Quilogramas).3,Total.4,Leite (Mil litros).4,Ovos de galinha (Mil dúzias).4,Ovos de codorna (Mil dúzias).4,Mel de abelha (Quilogramas).4,Casulos do bicho-da-seda (Quilogramas).4,Lã (Quilogramas).4
0,Brasil,..,33680401,3842896,271624,39677393,2855320,9755663,..,33313230,...,45801255,3046553,8378597,..,35445059,4767338,295904,51507862,2742372,7978317
1,Alta Floresta D'Oeste (RO),..,7012,265,-,2702,-,-,..,9024,...,2800,-,-,..,7258,298,-,2849,-,-
2,Ariquemes (RO),..,15350,285,-,930,-,-,..,14497,...,1210,-,-,..,16374,279,-,1251,-,-
3,Cabixi (RO),..,7274,128,-,745,-,-,..,8311,...,640,-,-,..,6259,120,-,608,-,-
4,Cacoal (RO),..,26102,996,-,10057,-,-,..,21814,...,9000,-,-,..,18668,3813,-,9299,-,-

In [21]:
end = data[data['Unnamed: 0'] == 'Fonte: IBGE - Pesquisa da Pecuária Municipal'].index[0]

In [22]:
df = data.iloc[:end]

In [23]:
df.head()

,Unnamed: 0,Total,Leite (Mil litros),Ovos de galinha (Mil dúzias),Ovos de codorna (Mil dúzias),Mel de abelha (Quilogramas),Casulos do bicho-da-seda (Quilogramas),Lã (Quilogramas),Total.1,Leite (Mil litros).1,...,Mel de abelha (Quilogramas).3,Casulos do bicho-da-seda (Quilogramas).3,Lã (Quilogramas).3,Total.4,Leite (Mil litros).4,Ovos de galinha (Mil dúzias).4,Ovos de codorna (Mil dúzias).4,Mel de abelha (Quilogramas).4,Casulos do bicho-da-seda (Quilogramas).4,Lã (Quilogramas).4
0,Brasil,..,33680401,3842896,271624,39677393,2855320,9755663,..,33313230,...,45801255,3046553,8378597,..,35445059,4767338,295904,51507862,2742372,7978317
1,Alta Floresta D'Oeste (RO),..,7012,265,-,2702,-,-,..,9024,...,2800,-,-,..,7258,298,-,2849,-,-
2,Ariquemes (RO),..,15350,285,-,930,-,-,..,14497,...,1210,-,-,..,16374,279,-,1251,-,-
3,Cabixi (RO),..,7274,128,-,745,-,-,..,8311,...,640,-,-,..,6259,120,-,608,-,-
4,Cacoal (RO),..,26102,996,-,10057,-,-,..,21814,...,9000,-,-,..,18668,3813,-,9299,-,-