In [26]:
!pip install pandas
!pip install psycopg2-binary
!pip install sqlalchemy

import psycopg2
import orchest
import pandas
from sqlalchemy import create_engine

Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.4.3)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /opt/conda/lib/python3.9/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.9/site-packages (2.9.3)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy) (1.1.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [27]:
host = '69.64.34.252'
database = 'dtwanalytics'
user = 'anselmo'
password = 'anselmo'

In [28]:
df = orchest.get_inputs()

WARNING: Calling `get_inputs` more than once is likely to cause issues when running your pipeline as a job. After the input data is retrieved it is slated for eviction from memory, causing the data to no longer be available for subsequent calls to `get_inputs`. Refer to the docs at https://docs.orchest.io/en/latest/fundamentals/data_passing.html#data-passing for more info. To silence all warnings related to calling data transfer functions multiple times, set orchest.Config.silence_multiple_data_transfer_calls_warning to True.

In [20]:
exportacao = df['exportacao']
importacao = df['importacao']

In [21]:
exportacao.dropna(inplace=True)
exportacao.head()

    Ano Mês    Município Valor FOB (US$)
0  2022  03  Parauapebas       609933760
1  2022  04  Parauapebas       589055150
2  2022  01  Parauapebas       512683657
3  2022  02  Parauapebas       510647191
4  2022  05  Parauapebas       496805798

In [22]:
importacao.dropna(inplace=True)
importacao.head()

    Ano Mês    Município Valor FOB (US$)
0  2022  05  Parauapebas        14499841
1  2022  04  Parauapebas        12402993
2  2022  03  Parauapebas         9380561
3  2022  02  Parauapebas        11115583
4  2022  01  Parauapebas        11183668

In [23]:
con = psycopg2.connect(host=host, database=database,
user=user, password=password)
cur = con.cursor()
sql = """CREATE TABLE IF NOT EXISTS importacao ("id" serial primary key, "Ano" integer NOT NULL, "Mês" integer  NOT NULL, "Município" varchar(50) NOT NULL, "Valor FOB (US$)" integer NOT NULL);"""
cur.execute(sql)
con.commit()
con.close()

In [24]:
con = psycopg2.connect(host=host, database=database,
user=user, password=password)
cur = con.cursor()
sql = """CREATE TABLE IF NOT EXISTS exportacao ("id" serial primary key, "Ano" integer NOT NULL, "Mês" integer  NOT NULL, "Município" varchar(50) NOT NULL, "Valor FOB (US$)" integer NOT NULL);"""
cur.execute(sql)
con.commit()
con.close()

In [25]:
conn_string = 'postgresql://anselmo:anselmo@69.64.34.252:5432/dtwanalytics'
  
db = create_engine(conn_string)
conn = db.connect()

# Create DataFrame
importacao.to_sql('data', con=conn, if_exists='replace', index=False)

In [ ]:
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()
sql1 = '''select * from data;'''
cursor.execute(sql1)
#for i in cursor.fetchall():
#    print(i)
conn.close()

In [ ]:
#orchest.output(df,"df")