In [1]:
import mysql.connector
import pandas as pd

In [2]:
schema = 'prorural'

In [3]:
def get_tabela_name(tabela_name):
    cnx = mysql.connector.connect(user='dtwanalytics', password='Dtwo@23a',
                              host='192.168.238.101',
                              database='prorural')

    query = "SELECT * FROM information_schema.tables WHERE table_schema = '{}'".format(tabela_name)

    cursor = cnx.cursor()
    cursor.execute(query)
    table_name = cursor.fetchall()
    tables = pd.DataFrame(table_name)
    names = tables[2]
    cursor.close()
    cnx.close()
    return names

In [4]:
def get_table(name_table):
    cnx = mysql.connector.connect(user='dtwanalytics', password='Dtwo@23a', host='192.168.238.101', database='prorural')
    cursor = cnx.cursor()
    cursor.execute('SELECT * FROM {0}.{1}'.format(schema, name_table))
    table_name = cursor.fetchall()
    print(table_name[0])
    tables = pd.DataFrame(table_name, columns=cursor.column_names)
    cursor.close()
    cnx.close()
    return tables

In [8]:
tabelas_prorural = get_tabela_name(schema)

In [6]:
bovinocultura = get_table('bovinocultura')

(1, 0, 0, 0, 0, 0, 0, 0, '', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '', 0, '', 0, 0, 0, 0, 0, '', '', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '', 0, 0, '', 0, 0, '', '', '', 0, 0, '', '', '', '', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '', 0)

In [7]:
#bovinocultura.dropna(inplace=True)
bovinocultura.head()

,id,aptidaoCorte,aptidaoLeite,bebedouroFonte,bebedouroManilha,bebedouroTambor,cochosComCobertura,cochosSemCobertura,controleEndoEctoQuais,controleEndoEctoparasitas,...,sistemaCriacaoConfinado,sistemaCriacaoSemiConfinado,suplemAlimentarConcentrado,suplemAlimentarSalMineral,suplemAlimentarVolumoso,vacinaAftosa,vacinaBrucelose,vacinaClostridiose,vacinaOutras,vacinaRaiva
0,1,0,0,0,0,0,0,0,,0,...,0,0,0,0,0,0,0,0,,0
1,2,0,1,1,0,0,0,1,,0,...,0,0,0,1,0,1,1,0,,0
3,4,0,0,0,0,0,0,0,,0,...,0,0,0,0,0,0,0,0,,0
4,5,0,0,0,0,0,0,0,,0,...,0,0,0,0,0,0,0,0,,0
5,6,0,0,0,0,0,0,0,,0,...,0,0,0,0,0,0,0,0,,0

In [9]:
tabelas_prorural

0                          ProdutosCap
1                          agricultura
2                      agricultura_aud
3                    anexo_propriedade
4                anexo_propriedade_aud
                    ...
177    visita_programa_has_usuario_aud
178                     visita_projeto
179                 visita_projeto_aud
180                     visita_tecnica
181                 visita_tecnica_aud
Name: 2, Length: 182, dtype: object